@import "tailwindcss";

body {
  height: 100%;
  margin: 0;
  background: var(--color-marrom);
}

@theme {
  --color-roxo: #604652;
  --color-roxoTransparente: rgba(96, 70, 82, 0.25);
  --color-roxoSecundario: #735557;
  --color-marrom: #A18F71;
  --color-bege: #D29F80;
  --color-begeTransparente: rgba(210, 159, 128, 0.25);
  --font-primaria: "Dancing Script", cursive;
  --font-secundaria: "Cutive", serif;
}

/* Esconde scrollbar em todos os navegadores principais */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE e Edge antigos */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}